* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

/* Website colors */
/* About me Section */
:root {
  --bg-color: gray;
  --second-bg-color: black;
  --text-color: white;
  --main-color: rgb(142, 49, 196);
}

html {
  font-size: 62%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  height: auto;
  padding: 8rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  color: var(--text-color);
  padding: 1.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.4rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--second-bg-color);
}

.navbar a.active {
  color: var(--second-bg-color);
  font-weight: bold;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: var(--second-bg-color);
}

.aboutme-content {
  max-width: 50%;
}

.aboutme-content h1 {
  font-size: 4.2rem;
  color: var(--text-color);
  margin-bottom: 1.2rem;
}

.aboutme-content h3 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.aboutme-content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--text-color);
}

.home-img img {
  width: 30vw;
  max-width: 400px;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .aboutme {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .aboutme-content {
    max-width: 100%;
  }

  .aboutme-content h1 {
    font-size: 3.6rem;
  }

  .aboutme-content h3 {
    font-size: 2.2rem;
  }

  .aboutme-content p {
    font-size: 1.4rem;
  }

  .home-img img {
    width: 60vw;
    max-width: 300px;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .aboutme-content h1 {
    font-size: 2.8rem;
  }

  .aboutme-content h3 {
    font-size: 1.8rem;
  }

  .aboutme-content p {
    font-size: 1.2rem;
  }

  .home-img img {
    width: 80vw;
  }
}

/* Social Media Buttons */
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease, color 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: box-shadow 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.aboutme-content h1 {
  font-size: 4.2rem;
  color: var(--text-color);
  margin-bottom: 1.2rem;
  margin-top: 16rem; /* Add space above the heading */
}

.aboutme-content h3 {
  font-size: 2.6rem;
}

.aboutme-content p {
  font-size: 1.6rem;
  margin: 0rem 0 0rem;
}

/* Portfolio Section */
.portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: transform 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.portfolio-description {
  font-size: 14px;
  color: var(--text-color);
  margin-top: 8px;
}

/* The Contact Me Form */
.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 100%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/* Resume Section */
.resume {
  padding: 90px 0;
  background-color: var(--second-bg-color);
  text-align: center;
}

.resume h2 {
  font-size: 3em;
  color: var(--text-color);
  margin-bottom: 20px;
}

.resume .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: var(--second-bg-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  margin-bottom: auto;
  transition: background-color 0.3s;
}

.resume .btn:hover {
  background-color: var(--main-color);
}

/* Proficiencies Section */
.proficiencies {
  margin-top: -0.8rem;
  text-align: center;
  /* Center text and elements */
}

.proficiencies h2 {
  font-size: 3em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.proficiency-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proficiency-container div {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}

.proficiency-container h3 {
  font-size: 1.8em;
  color: var(--second-bg-color);
  margin-bottom: 10px;
}

.proficiency-container ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.proficiency-container ul li {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: var(--text-color);
  padding-left: 0;
  position: relative;
}

/* Adding a bullet icon for each list item */
.proficiency-container ul li::before {
  content: "⚫";
  color: var(--main-color);
  font-weight: bold;
  position: absolute;
  left: 0;
}

/* Responsive design for mobile screens */
@media (max-width: 768px) {
  .proficiency-container div {
    width: 100%;
    /* Stack items on mobile */
  }

  .resume h2 {
    font-size: 2em;
  }

  .proficiencies h2 {
    font-size: 1.8em;
  }

  .proficiency-container ul li {
    font-size: 1em;
    /* Adjust font size */
  }
}

/* Footer with home button */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.1rem 5%;
  background-color: var(--bg-color);
  height: auto;
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: box-shadow 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* Media Queries */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  /* Navigation Bar on top of website */
  .navbar {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    border-top: 0.1rem solid black;
    box-shadow: 0 0.5rem 1rem black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-color);
    z-index: 100;
  }

  .navbar a.active {
    color: var(--second-bg-color);
    /* Change color to highlight */
    text-decoration: underline;
    /* Optional: Add underline */
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-layer h4 {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }

  .aboutme-content h1 {
    font-size: 4.5rem;
  }

  .aboutme-content h3 {
    font-size: 2.2rem;
  }

  .home-img img {
    width: 70vw;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .portfolio-layer h4 {
    font-size: 2.5rem;
  }

  .social-media a {
    width: 3rem;
    height: 3rem;
  }

  .social-media a i {
    font-size: 1.5rem;
  }
}
